{% load static %}

<!-- jquery -->
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>